:root{
  --colorgreen: green;
  --colorblue: blue;
  --colorblack: black;
  --colorwhite: white;
}
[data-theme ="dark"]{
  
  --colorgreen: green;
  --colorblue: blue;
  --colorblack: black;
  --colorwhite: white;
}

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}